.Container {
  text-align: left;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
  justify-content: center;
  font-size: 40hmin;
  
}

.subtitle {
  text-align: center;
  justify-content: center;
  font-size: 1.5vmax;
  margin-top: -30px;
  
}

.inputTitle {
  fill: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.beerLoader {
  font-size: 1.5rem;
  animation: App-logo-spin 1.5s linear infinite;
  z-index: 2;
  opacity: 100;
  pointer-events: none;
}

.ingredientsSection {
  margin-top: -20px;
  margin-bottom: -20px;
}

.instructionSection {
  margin-top: -20px;
  margin-bottom: 10px;
}

.disclaimer {
  color: #6666667d; 
  font-size: 0.8em; 
  margin-top: 20px;
}

.statsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 160px;
  margin-top: 20px;
}

.leftItem { 
  padding: 1rem;
  
}

.rightItem {
  padding: 1rem;
  margin-right: 40px;
  
}

.footLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
}

.leftLink {
  padding: 1rem;
    
}

.middleLink {
  padding: 1rem;
}

.rightLink {
  padding: 1rem;
}